<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/event_detail.css' %}" />
    <title>EventSphere</title>
  </head>
  <body>
    <nav>
      <div class="nav__header">
        <div class="brand">
          <a href="#">
            <i class="fa-solid fa-calendar-days"></i>
            <span>EventSphere</span>
          </a>
        </div>
        <div class="nav__links">
          <ul>
            <li><a href="{% url 'attendee:home' %}"  {% if active_link == 'home' %}class="active"{% endif %}>Home</a></li>
            <li><a href="{% url 'attendee:create_event_organizer' %}"  {% if active_link == 'create_events' %}class="active"{% endif %}>Create Event</a></li>
            <li><a href="{% url 'attendee:events_list' %}"  {% if active_link == 'events' %}class="active"{% endif %}>Events</a></li>
            <li><a href="#" {% if request.path == '/contact/' %}class="active"{% endif %}>Contact Us</a></li>
          </ul>
        </div>
        <div class="nav__btns">
          {% if user.is_authenticated %}
          <div class="user-profile">
            <i class="fas fa-user"></i>
            <span class="username-text">{{ user.username }}</span>
          </div>
          {% else %}
          <a
            href="{% url 'attendee:registration' %}"
            class="btn btn-signup-login"
            >Sign Up/Login</a
          >
          {% endif %}
        </div>
        <div class="nav__menu__btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <img
            src="{{ event.image.url }}"
            alt="Event Image"
            class="img-fluid event-image"
          />
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-8">
          <h1 class="event-name">{{ event.name }}</h1>
          <p class="event-description">{{ event.description }}</p>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-start">
          <div>
            <h3>Date and Time</h3>
            <p>{{ event.date_time }}</p>
            <h3>Location</h3>
            <p>{{ event.location }}</p>
          </div>
          <h3>Registration Fee</h3>
          <div class="ticket-type-box">
            <h4>{{ event.ticket_type }}</h4>
            <p>Price: ₹{{ event.ticket_price }}</p>
            <div class="quantity-control">
              <button class="btn btn-secondary btn-sm decrement-btn">-</button>
              <input
                type="number"
                id="quantity"
                class="quantity"
                min="0"
                value="0"
              />
              <button class="btn btn-secondary btn-sm increment-btn">+</button>
            </div>
          </div>
          <form id="registration-form" method="post" action="#">
            {% csrf_token %}
            <input
              type="hidden"
              id="registration_quantity"
              name="quantity"
              value="0"
            />
            <button type="submit" class="btn btn-primary register-btn">
              Register
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/event_detail.js' %}"></script>
  </body>
</html>
