{% extends 'user_base.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/events_list.css' %}" />
{% endblock %} {% block content %}
<div class="container my-5">
  <div class="search-filter-container mb-4">
    <div class="search-box">
      <input type="text" class="form-control" placeholder="Search events..." />
    </div>
    <div class="filter-options">
      <select class="form-control">
        <option value="">Filter by</option>
        <option value="date">Date</option>
        <option value="category">Category</option>
        <option value="location">Location</option>
      </select>
    </div>
  </div>

  <section class="events-section">
    <div class="container">
      <h2 class="mb-4 text-center">All Events</h2>
      <div class="row">
        {% for event in all_events %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <img
              src="{{ event.image.url }}"
              class="card-img-top"
              alt="{{ event.name }}"
            />
            <div class="card-body text-center">
              <h5 class="card-title mb-3">{{ event.name }}</h5>
              <p class="card-text">{{ event.description|truncatewords:15 }}</p>
              <a href="{{ event.get_absolute_url }}" class="btn btn-primary"
                >View Details</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock %}
