{% extends 'user_base.html' %}{% block content %}
<section class="event-discovery-section">
  <div class="event-discovery-content">
    <h2>Discover Exciting Events Near You</h2>
    <h1>Explore EventSphere for Your Next Adventure</h1>
    <p>
      EventSphere is your gateway to discovering and participating in a wide
      range of exciting events happening in and around the College of
      Engineering, Guindy (CEG). Whether you're passionate about music, arts,
      technology, or any other interest, EventSphere has something for everyone.
      Join us today and explore the vibrant world of events!
    </p>
    <div class="event-discovery-buttons">
      <a href="#" class="explore-btn">Become an Event Organizer</a>
      <a href="#" class="explore-btn">Explore Events</a>
    </div>
  </div>
</section>
<section class="latest-events-section">
  <div class="container">
    <h2 class="mb-4 text-center">Latest Events</h2>
    <!-- Added text-center class -->
    <div class="row">
      {% for event in latest_events %}
      <div class="col-md-3 mb-4">
        <div class="card">
          <img
            src="{{ event.image.url }}"
            class="card-img-top"
            alt="{{ event.name }}"
          />
          <div class="card-body text-center">
            <!-- Added text-center class -->
            <h5 class="card-title mb-3">{{ event.name }}</h5>
            <a href="#" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.6s">
        <h2>About EventSphere</h2>
        <p>
          EventSphere: Where Moments Meet Passion. Discover and Engage with
          Vibrant Events Near You!
        </p>
      </div>
      <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.9s">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="#">Events</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="1s">
        <h2>Follow us</h2>
        <ul class="social-icon">
          <li>
            <a href="#" class="fab fa-facebook" data-wow-delay="1s"></a>
          </li>
          <li>
            <a href="#" class="fa-brands fa-twitter" data-wow-delay="1.3s"></a>
          </li>
          <li>
            <a href="#" class="fa-brands fa-linkedin" data-wow-delay="1.6s"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12">
      <p class="copyright-text">Copyright &copy; 2024 EventSphere</p>
    </div>
  </div>
</footer>

{% endblock %}
