<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    {% endblock %}
    <title>EventSphere</title>
  </head>
  <body>
    <nav>
      <div class="nav__header">
        <div class="nav_logo">
          <a href="#" class="brand">
            <i class="fa-solid fa-calendar-days"></i>
            <span class="text">EventSphere</span>
          </a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <span><i class="ri-menu-line"></i></span>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="{%url 'attendee:home' %}">Home</a></li>
        <li>
          <a href="{%url 'attendee:create_event_organizer' %}">Create Event</a>
        </li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <div class="nav__btns">
        <button class="btn">Sign Up/Login</button>
      </div>
    </nav>
    {% block content %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
