{% extends "create_base.html" %} {% load static %} {% block content %}
<div class="create-event">
  <h3>Create User</h3>
  <form
    id="create-event-form"
    method="post"
    enctype="multipart/form-data"
    action="{% url 'admin_panel:create_user' %}"
  >
    {% csrf_token %} {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}
      <div class="input-field">
        {{ field }} {% if field.errors %}
        <div class="error">{{ field.errors }}</div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    <button type="submit" id="submit-btn">Create</button>
  </form>
</div>
{% endblock %}
