{% extends "base.html" %} {% load static %} {% block extra_css %}<link
  rel="stylesheet"
  href="{% static 'css/create_category.css' %}"
/>{% endblock %}{% block content %}
<div class="create-event-category">
  <h3>Create Event Category</h3>
  <form
    id="create-event-category-form"
    method="post"
    enctype="multipart/form-data"
    action="{% url 'admin_panel:create_category' %}"
  >
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Event Category Name:</label>
      <div class="input-field">
        <!-- added container for input fields -->
        <input type="text" id="name" name="name" required />
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <div class="input-field">
        <textarea id="description" name="description" required></textarea>
      </div>
    </div>
    <button type="submit" id="submit-btn">Create</button>
  </form>
</div>
{% endblock %}
