{% extends "create_base.html" %} {% load static %} {% block content %}
<div class="create-event">
  <h3>Create Event</h3>
  <form
    id="create-event-form"
    method="post"
    enctype="multipart/form-data"
    action="{% url 'admin_panel:create_event' %}"
  >
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Event Name:</label>
      <div class="input-field">
        <input type="text" id="name" name="name" required />
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <div class="input-field">
        <textarea id="description" name="description" required></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="event_category">Event Category:</label>
      <div class="input-field">
        <select id="event_category" name="event_category" required>
          {% for category in event_categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="location">Location:</label>
      <div class="input-field">
        <input type="text" id="location" name="location" required />
      </div>
    </div>
    <div class="form-group">
      <label for="date_time">Date:</label>
      <div class="input-field">
        <input type="datetime-local" id="date_time" name="date_time" required />
      </div>
    </div>
    <div class="form-group">
      <label for="image">Image:</label>
      <div class="input-field">
        <input type="file" id="image" name="image" accept="image/*" required />
      </div>
    </div>
    <div class="form-group">
      <label for="ticket_type">Registration Type:</label>
      <div class="input-field">
        <select id="ticket_type" name="ticket_type" required>
          <option value="General">General</option>
          <option value="VIP">VIP</option>
          <option value="Student">Student Ticket</option>
          <!-- Add more options as needed -->
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="ticket_price">Registration Fee:</label>
      <div class="input-field">
        <input
          type="number"
          id="ticket_price"
          name="ticket_price"
          step="0.01"
          required
        />
      </div>
    </div>
    <button type="submit" id="submit-btn">Create</button>
  </form>
</div>
{% endblock %}
