{% extends "base.html" %} {% load static%}{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/edit_category.css' %}" />
{% endblock %}{% block content %}
<div class="edit-category">
  <h3>Edit Category</h3>
  <form
    id="edit-category-form"
    method="post"
    enctype="multipart/form-data"
    action="{% url 'admin_panel:edit_category' category.id %}"
  >
    {% csrf_token %} {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}

    <button type="submit" id="submit-btn">Edit</button>
  </form>
</div>
{% endblock %} {% block extra_js %}
<script src="{% static 'js/admin_dashboard.js' %}"></script>
{% endblock %}
