{% extends 'base.html' %} {% load static %} {% block content %}
<main>
  <div class="table-data">
    <div class="events">
      <div class="head">
        <h3>Events</h3>
        <a href="{% url 'admin_panel:create_event' %}" class="btn-create-event">
          <i class="bx bxs-plus-circle"></i> Create Event</a
        >
      </div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Event Organizer</th>
            <th>Event Category</th>
            <th>Location</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for event in all_events %}
          <tr>
            <td>{{ event.name }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.organizer }}</td>
            <td>{{ event.event_category }}</td>
            <td>{{ event.location }}</td>
            <td>{{ event.date_time }}</td>
            <td>
              <a
                href="{% url 'admin_panel:edit_event' event.id %}"
                class="action-btn"
                title="Edit"
              >
                <i class="bx bx-edit"></i>
              </a>
              <a
                href="{% url 'admin_panel:event_delete' event.id %}"
                class="action-btn delete-event"
                title="Delete"
              >
                <i class="bx bx-trash"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}

<div class="modal" id="confirmationModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this item?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" id="confirmDelete">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>
  $(document).on("click", ".delete-event", function (e) {
    e.preventDefault();
    e.stopPropagation(); // Prevent bubbling
    $("#confirmationModal").modal("show");
    var deleteUrl = $(this).attr("href");
    $("#confirmationModal #confirmDelete").one("click", function () {
      window.location.href = deleteUrl;
    });
  });
</script>
{% endblock %} $('#confirmationModal').modal({backdrop: 'static', keyboard:
false})
